build
bin
src/file
.history
.cache
.idea
.vscode
cmake-build-debug
exc/bin
exc/build
file
src/out
log
logs
config
build-debug
build-release

# Precompiled headers
*.gch
*.pch# Log files
log/*.log
log/*.log.*
